h1 {
    color: rgba(236,44,100,1.0);
    text-align: center;
    max-width: 600px;
    font-size: 30px;
    font-family: 楷体;
  }
  
  /* img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  } */
  
  a{
    text-decoration: none;              
  }
  
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/v2-36d4626179b21ede507f08593329aa22_1440w.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.6; /* 背景图片的透明度 */
  }
  .left-align {
    text-align: left;
    text-justify: inter-word; /* 规定两端对齐 */
    max-width: 300px; /* 规定最大宽度 */
    font-size: 20px;
    font-family: 楷体;
    margin-left: 10%;
  }
  
  .right-align {
    position:absolute;right:5%;
    text-justify: inter-word; /* 规定两端对齐 */
    max-width: 500px; /* 规定最大宽度 */
    font-family: 楷体;
  }
  
  .center-align {
    text-align: center;
    max-width: 500px; /* 规定最大宽度 */
    font-size: 20px;
    color: rgba(23, 129, 181,1.0);
    margin: 0 auto; /* 居中对齐 */
    font-family: 楷体;
  }

  .center-align.p{
    font-size: 40px;
    font-family: 楷体;
  }
  
  .right{
    position:absolute;bottom:0%; right:5%;
    font-family: 楷体;
    font-size: 30px;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgba(red, green, blue, alpha); /* 设置导航栏背景颜色 */
    text-align: center;
  }
  
  .navbar a {
    float: left; /* 设置导航链接横向排列 */
    display: block; /* 将链接显示为块级元素，占据整行 */
    color: rgba(20,74,116,1.0); /* 设置链接文字颜色 */
    font-family: 楷体;
    font-size: 30px;
    text-align: center; /* 设置链接文字居中 */
    padding: 14px 16px; /* 设置链接内边距 */
    text-decoration: none; /* 去除链接下划线 */
  }
  
  .navbar a:hover {
    background-color: #ddd; /* 设置鼠标悬停时的背景颜色 */
    color: rgba(50,47,59,1.0); /* 设置鼠标悬停时的文字颜色 */
  }
  
  .navbar {
    width: 100%; /* 设置导航栏宽度为100% */
  }
  
  .navbar a {
    width: 20%; /* 设置每个链接的宽度为25%，以平均分配到四个链接 */
    box-sizing: border-box; /* 设置盒模型为边框盒模型，包括内边距和边框在内的宽度不会改变 */
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 0 400px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .icons_items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 80px;
    width: 200px;
  }
  
  .icons_items_imgs-1 {
    width: 600px;
    margin-bottom: 30px;
  }
  
  .icons_items_imgs-2 {
  width: 550px;
  margin-bottom: 30px;
  }
  
  .mewnavbar {
  width: 100%; /* 设置导航栏宽度为100% */
  }
  
  .mewnavbar a {
  width: 25%; /* 设置每个链接的宽度为25%，以平均分配到四个链接 */
  box-sizing: border-box; /* 设置盒模型为边框盒模型，包括内边距和边框在内的宽度不会改变 */
  }
  
  .container {
  width: 100%;
  overflow: hidden;
  }
  
  .item {
  width: 20%;
  float: left;
  text-align: center;
  padding: 10px;
  }
  
  .item img {
  max-width: 100%;
  height: auto;
  }
  
  .left-align-2 {
  color: black;
  position:absolute; left: 54%;
  text-align: left;
  text-justify: inter-word; /* 规定两端对齐 */
  max-width: 300px; /* 规定最大宽度 */
  font-size: 20px;
  font-family: 楷体;
  background-color: rgba(248,232,193,0.2);
  margin-left: 20px;
  margin-right: 20px;
  }
  
  .left-align-1 {
  color: black;
  position:absolute; left: 28%;
  text-align: left;
  text-justify: inter-word; /* 规定两端对齐 */
  max-width: 300px; /* 规定最大宽度 */
  font-size: 20px;
  font-family: 楷体;
  background-color: rgba(248,232,193,0.2);
  margin-left: 20px;
  margin-right: 20px;
  }
  
  .left-align-0 {
    color: black;
    position:absolute; left: 2%;
    text-align: left;
    text-justify: inter-word; /* 规定两端对齐 */
    max-width: 300px; /* 规定最大宽度 */
    font-size: 20px;
    font-family: 楷体;
    background-color: rgba(248,232,193,0.2);
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .left-align-3 {
    color: black;
    position:absolute; left: 78%;
    text-align: left;
    text-justify: inter-word; /* 规定两端对齐 */
    max-width: 300px; /* 规定最大宽度 */
    font-size: 20px;
    font-family: 楷体;
    background-color: rgba(248,232,193,0.2);
    margin-left: 20px;
    margin-right: 20px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 200px; /* 设置图片的宽度 */
    height: auto; /* 保持图片的纵横比 */
    margin-bottom: 20px; /* 设置图片之间的间距 */
  }
